@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div>Debugging is enabled.</div>
}
<div id="fnet_adminpages_home_index">
    <input type="button" value="Go to the new page" onclick="FnetAdminPagesHomeIndex.goTo();" />
</div>
<script type="text/javascript">
    var FnetAdminPagesHomeIndex = (function () {
        return {
            goTo: function () {
                //Nskd.Server.SessionId = '00000000-0000-0000-0000-000000000000';
                Nskd.Client.EnvVars.selectedMenuNodeUrl = '/adminpages/f0';
                Nskd.Server.gotoTheNewPage(null, '#_layout_content');
            }
        };
    })();
</script>